<%= form_tag sessions_path, class: "form-horizontal" do %>
  <fieldset>
    <legend>Login</legend>
    <% if user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="control-group">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="control-group">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="form-actions"><%= submit_tag "Log In", class: "btn btn-primary" %>
  </fieldset>
<% end %>
