<%= form_for(@goal, remote: true, html: { class: 'form-horizontal' }) do |f| %>
  <div id="message-wrapper"></div>
  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, class: "input input-medium" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :amount, class: "input input-medium" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :due_date, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :due_date, value: @goal.due_date.blank? ? '' : @goal.due_date.strftime('%d-%m-%Y'), class: "input input-medium datepicker" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script>
  $('input.datepicker').datepicker({
    dateFormat: 'dd-mm-yy'
  });
</script>
