<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "Gauge" %></title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">    
    
    <!-- CSS files-->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag "font-awesome-ie7.min.css", media: "all" %>
    <![endif]-->
    
    <!-- Google font -->
    <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->	
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
    <%= yield(:head) %>
</head>

<body>
	<!-- Main content -->
	<div id="main-content">
		<!-- Container -->
		<div class="container">
			<!-- Header boxes -->
			<div id="dashboard-gauges" class="box-container">
        <% 4.times do |i| %>
          <div class="box-holder">
            <a href="index.html">
              <div class="box">
                <img src="http://placehold.it/160x100" alt="goal" />
                <div id="dashboard-gauge-<%= i+1 %>" class="dashboard-gauge"></div>
              </div>
            </a>
          </div>
        <% end %>
			</div>
			<!-- /Header boxes -->

      <!-- Navbar -->
      <div id="navbar" class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="index.html">Gauge</a>
            <div class="nav-collapse">
              <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li><a href="#"><i class="icon-dashboard"></i>&nbsp;&nbsp;Dashboard</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#"><i class="icon-tasks"></i>&nbsp;&nbsp;Goals</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#"><i class="icon-bar-chart"></i>&nbsp;&nbsp;Net Worth</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#"><i class="icon-money"></i>&nbsp;&nbsp;Cash Flow</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                  <% if current_user %>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-user"></i>&nbsp;&nbsp;<%= current_user.email %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#"><i class="icon-file"></i>&nbsp;&nbsp;User information</a></li>
                      <li><a href="#"><i class="icon-key"></i>&nbsp;&nbsp;Change Password</a></li>
                      <li><a href="<%= logout_path %>"><i class="icon-signout"></i>&nbsp;&nbsp;Logout</a></li>
                    </ul>
                  <% else %>
                      <li><a href="<%= login_path %>"><i class="icon-signin"></i>&nbsp;&nbsp;Login</a></li>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--/ Navbar -->

      <%= yield %>

			<!-- Footer -->
			<div id="footer">
				<hr>
				<p class="pull-right">Company name &copy; 2012</p>
			</div>
			<!-- /Footer -->
	
		</div>
		<!-- /Container -->
	</div>
	<!-- /Main content -->
	
</body>
</html>
